.user {
    display: flex;
    flex-direction: row;
    min-width: 500px;
    margin: 10px;
    border: 1px solid var(--divider-color-border-color);
}

.userCardLeftSide {
    display: flex;
    flex: 0 0 100px;
    flex-direction: column;
    align-items: center;
}

.userPhoto {
    width: 80px;
}

.userPhoto img {
    width: 80px;
    height: 80px;
}

.followButtons {
    color: white;
}

.followButtonRed {
    background-color: orangered;
    color: white;
}

.followButtonGreen {
    background-color: #00796B;
    color: white;
}

.userCardRightSide {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px;
}

.userInfo {

}

.userLocation {

}

