.navbar {
    display: flex;
    flex-direction: column;
    flex: 0 1 100px;
    padding: 5px;
}

.item {
    display: flex;
    width: 100%;
    min-height: 45px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 25px;
    margin-bottom: 5px;
    background-color: var(--accent-color-background);
    color: var(--primary-text-black-color-color);
}

.item:hover {
    border-color: var(--accent-color-background);
    color: var(--text-primary-white-color-color);
    text-decoration: underline;
}

.activeLink {
    color: var(--text-primary-white-color-color);
}