.navbarFooter {
    bottom: 0;
    display: flex;
    min-height: 60px;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--divider-color-border-color);
    margin-top: auto;
    margin-bottom: 0;
}