.app-wrapper {
    display: grid;
    width: 1200px;
    margin: 0 auto;

    grid-template-areas:
    "header header"
    "navbar content";

    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}

.header {
    background-color: lightblue;
    grid-area: header;
}

.header img {
    width: 50px;
}

.navbar {
    background-color: aquamarine;
    grid-area: navbar;
}

.content {
    background-color: bisque;
    grid-area: content;
}

.avatar img {
    width: 50px;
}