:root {
    --dark-primary-color-background: #00796B;
    --default-primary-color-background: #009688;
    --light-primary-color-background: #B2DFDB;
    --text-primary-color-color: #FFFFFF;
    --accent-color-background: #03A9F4;
    --primary-text-color-color: #212121;
    --secondary-text-color-color: #757575;
    --divider-color-border-color: #BDBDBD;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Inconsolata', monospace;
    font-weight: 400;
    background-color: var(--dark-primary-color-background);
}

.app-wrapper {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainView {
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1200px;
    min-height: 100vh;
}

.contentView {
    background-color: bisque;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}