:root {
    --dark-primary-color-background: #00796B;
    --default-primary-color-background: #009688;
    --light-primary-color-background: #B2DFDB;
    --text-primary-white-color-color: #FFFFFF;
    --accent-color-background: #03A9F4;
    --primary-text-black-color-color: #212121;
    --secondary-text-color-color: #757575;
    --divider-color-border-color: #BDBDBD;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Inconsolata', monospace;
    font-weight: 400;
    font-size: 24px;
    background-color: var(--dark-primary-color-background);
}

.app-wrapper {
    background-color: white;
    width: 100%;
    max-width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    box-shadow: 5px 0 5px var(--light-primary-color-background),
     -5px 0 5px var(--light-primary-color-background);
}